<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingsum.mapper.RegionalLinkedPricingMapper">

    <select id="getRegionalLinkedPricingInfoList" resultType="com.bingsum.util.ParaData">
        select id,
          (select CONCAT(province," ",city," ",AREA) from open_area where open_area.id=regional_linked_pricing.origin_id) 'origin',
          (select CONCAT(province," ",city," ",AREA) from open_area where open_area.id=regional_linked_pricing.destination_id) 'destination',standard_chartered_price,standard_carpooling_price,business_chartered_price,luxury_chartered_price
        from regional_linked_pricing where delete_time is null;
    </select>

    <select id="getRegionalLinkedPricingInfo" resultType="com.bingsum.util.ParaData">
        select * from regional_linked_pricing where delete_time is null and id=#{id}
    </select>

    <insert id="newRegionalLinkedPricingInfo" parameterType="com.bingsum.util.ParaData">
        insert into regional_linked_pricing(origin_id,destination_id,standard_chartered_price,standard_carpooling_price,business_chartered_price,luxury_chartered_price,create_time) values (#{origin_id}, #{destination_id}, #{standard_chartered_price}, #{standard_carpooling_price}, #{business_chartered_price}, #{luxury_chartered_price}, NOW());
    </insert>
    
    <update id="setRegionalLinkedPricingInfo" parameterType="com.bingsum.util.ParaData">
        update regional_linked_pricing set origin_id = #{origin_id},destination_id = #{destination_id},standard_chartered_price = #{standard_chartered_price},standard_carpooling_price = #{standard_carpooling_price},business_chartered_price = #{business_chartered_price},luxury_chartered_price = #{luxury_chartered_price}, update_time = NOW() where id = #{id};
    </update>

    <update id="delRegionalLinkedPricing" parameterType="com.bingsum.util.ParaData">
        update regional_linked_pricing set delete_time = NOW() where id = #{id};
    </update>

    <select id="getRegAreaId" resultType="com.bingsum.util.ParaData">
        select * from regional_linked_pricing where origin_id=#{id} or destination_id = #{id} and delete_time is null
    </select>

</mapper>