<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingsum.mapper.SysRoleAuthMapper">

<select id="selectAuthByRole" resultType="com.bingsum.util.ParaData">
        select t.id, t.tag, t.api from sys_auth t where t.delete_time is null 
   and exists(select 1 from sys_role_auth a where a.auth_id=t.id and a.role_id = #{roleId})
    </select>
 
</mapper>