<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingsum.mapper.UserOrderInfoMapper">

    <select id="getOrderInfoList" resultType="com.bingsum.util.ParaData" >
        select uid,origin,destination,payment,create_time from user_order_info where status=#{status} order by create_time desc
    </select>

    <insert id="newOrderInfoPsg" parameterType="com.bingsum.util.ParaData" >
        insert into user_order_info(uid,earliest_departure_time,latest_departure_time,contact_name,contact_phone,emergency_phone,emergency_name,remark,status,payment,user_id,car_id,create_time,order_service_id,passengers_id,origin,destination) values ((select UNIX_TIMESTAMP(NOW())) ,#{earliestDepartureTime},#{latestDepartureTime},#{contactName},#{contactPhone},#{emergencyPhone},#{emergencyName},#{remark},#{status},#{payment},(select id from user u where u.open_id=#{openId}),#{carId},NOW(), #{orderServiceId}, #{passengersId}, #{origin}, #{destination});
    </insert>

    <insert id="newOrderInfoPag" parameterType="com.bingsum.util.ParaData" >
        insert into user_order_info(uid,earliest_departure_time,latest_departure_time,remark,payment,user_id,car_id,create_time,order_service_id,passengers_id,origin,destination) values ((select UNIX_TIMESTAMP(NOW())) ,#{earliestDepartureTime},#{latestDepartureTime},#{remark},#{payment},(select id from user u where u.open_id=#{openId}),#{carId},NOW(), #{order_serviceId}, #{passengersId}, #{origin}, #{destination});
        insert into order_package_info(volumn,weight,num,user_order_info_id,sender_name,sender_phone,sender_card,addressee_name,addressee_phone,create_time) values (#{volumn},#{weight},#{num},(select @@IDENTITY),#{sender_name},#{sender_phone},#{sender_card},#{addressee_name},#{addressee_phone},NOW());
    </insert>

    <select id="getOrderInfoByTime" resultType="com.bingsum.util.ParaData" >
        select o.*,(select GROUP_CONCAT(c.name SEPARATOR ',') rider from user_card c where INSTR(CONCAT(',',(select passengers_id from user_order_info r where r.id=o.`id`),','),CONCAT(',',c.id,','))) rider from user_order_info o left join user u on o.user_id=u.id where u.open_id=#{open_id} order by o.create_time desc limit 1;
    </select>

    <select id="getOrderInfo" resultType="com.bingsum.util.ParaData" >
        select (select d.name from car c left join driver d on c.driver_id=d.id where c.id=o.car_id) dname,(select d.phone from car c left join driver d on c.driver_id=d.id where c.id=o.car_id) dphone,p.volumn,p.weight,p.sender_name,p.sender_card,p.sender_phone,p.addressee_name,p.addressee_phone,o.*,(select GROUP_CONCAT(c.name SEPARATOR ',') rider from user_card c where INSTR(CONCAT(',',(select passengers_id from user_order_info r where r.id=o.`id`),','),CONCAT(',',c.id,','))) rider from user_order_info o left join user u on o.user_id=u.id left join order_package_info p on p.user_order_info_id=o.id where o.uid=#{uid}
    </select>

    <!--订单后台接口-->
    <select id="getAdminOrderInfoList" resultType="com.bingsum.util.ParaData" >
        select (select d.name from car c left join driver d on c.driver_id=d.id where c.id=o.car_id) dname,o.*,u.name,p.volumn,p.weight,p.sender_name,p.sender_card,p.sender_phone,p.addressee_name,p.addressee_phone from user_order_info o left join user u on o.user_id=u.id left join order_package_info p on o.id=p.user_order_info_id where o.status=#{status} group by o.create_time desc
    </select>

    <update id="setOrderInfo" parameterType="com.bingsum.util.ParaData" >
        update user_order_info set status =#{status},car_id =#{cid} ,update_time=NOW() where id = #{id};
    </update>

    <select id="getOrderInfoSearch" resultType="com.bingsum.util.ParaData" >
        select * from user_order_info where origin like CONCAT('%',#{origin},'%') and destination like CONCAT('%',#{destination},'%') and status=#{status}
    </select>





    <!--<update id="">-->
        <!---->
    <!--</update>-->
</mapper>